In [6]:
import pandas as pd
df = pd.read_csv(r'C:\Users\zKing\OneDrive\Desktop\Coding\Data Analysis Projects\Apple Sales\sales.csv')
df.head()

     sale_id   sale_date store_id product_id  quantity
0    YG-8782  16-06-2023    ST-10       P-38        10
1  QX-999001  13-04-2022    ST-63       P-48        10
2   JG-46890  05-07-2021    ST-26       P-79         5
3    XJ-1731  20-07-2022    ST-15       P-24         9
4   FG-95080  18-03-2022    ST-35       P-69         7